@model Vidly.ViewModels.NewMovieViewModel
@{
    ViewBag.Title = "MoviesForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var heading = (Model.Id == null  || Model.Id == 0) ? "New Movie" : "Edit Movie";
}
<h2>@heading</h2>

@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ReleaseDate)
        @Html.TextBoxFor(x => x.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ReleaseDate)

    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.GenreId)
        @Html.DropDownListFor(x => x.GenreId,
            new SelectList(Model.Genres, "id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.GenreId)

    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.NumberOfStock)
        @Html.TextBoxFor(x => x.NumberOfStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.NumberOfStock)

    </div>
    @Html.HiddenFor(x => x.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-success"> Save </button>
}

@section scripts
{
    @Scripts.Render("~/ bundles / jqueryval")
}

