@model Vidly.ViewModels.NewMovieViewModel
@{
    ViewBag.Title = "MoviesForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var heading = (Model.Movie == null  || Model.Movie.Id == 0) ? "New Movie" : "Edit Movie";
}
<h2>@heading</h2>

@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Movie.Name)
        @Html.TextBoxFor(x => x.Movie.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Movie.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Movie.ReleaseDate)
        @Html.TextBoxFor(x => x.Movie.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Movie.ReleaseDate)

    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Movie.GenreId)
        @Html.DropDownListFor(x => x.Movie.GenreId,
            new SelectList(Model.Genres, "id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Movie.GenreId)

    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Movie.NumberOfStock)
        @Html.TextBoxFor(x => x.Movie.NumberOfStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Movie.NumberOfStock)

    </div>
    @Html.HiddenFor(x => x.Movie.Id)
    <button type="submit" class="btn btn-success"> Save </button>
}

